# Python cache and build files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/
*.manifest
*.spec

# Virtual environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

# macOS system files
.DS_Store

# Logs
*.log
logs/

# Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore large Terraform plan files
*.plan

# Ignore any sensitive files
*.pem
*.key
secrets.*
